body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

div,
p,
a,
img,
form,
button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.page-header {
  width: 100%;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 80px 0 80px 0;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
}

.site-list__item a {
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 10px 15px 45px;
}

.site-list__item--menu a {
  color: black;
}

.logo {
  position: absolute;
  top: 15px;
  left: 49%;
}

.site-list__item--hover a:hover {
  color: red;
}

.site-list__item:first-child {
  background: url(../img/free-icon-hamburger-5505699.png) 10px no-repeat;
  padding: 15px 10px 15px 15px;
}

.site-list__item:nth-child(2) {
  background: url(../img/free-icon-phone-call-114333.png) 5px no-repeat;
  margin-top: 30px;
  padding: 15px 10px 15px 15px;
}

.site-list__item:nth-child(3) {
  background: url(../img/free-icon-magnifying-glass-search-16492.png) 25px 15px no-repeat;
  padding: 20px 15px 20px 15px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscreen {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullscreen-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  min-height: 20vh;
  background-color: #e7e7e7;
}

.fullscreen-2 {
  min-height: 40vh;
}

.fullscreen-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  width: 600px;
  height: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fullscren-item__img {
  margin-top: 30px;
  margin-left: 40px;
}

.fullscreen-item {
  width: 250px;
  border: 1px solid #a1a19e;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fullscreen-item__title {
  margin-left: 40px;
  font-size: 14px;
  margin-top: 15px;
}

.fullscreen-item__price {
  font-size: 18px;
  width: 150px;
  margin-left: 40px;
  margin-top: 15px;
}

.cart {
  margin-left: 40px;
  width: 100px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background: #3030c4;
  margin-top: 15px;
  padding: 10px 20px 10px 20px;
}

.fullscreen_bg-1 {
  background: url(../img/1photo.jpg) center/cover no-repeat fixed;
}

.fullscreen_bg-2 {
  background: url(../img/2photo.jpg) center/cover no-repeat fixed;
}

.fullscreen_bg-3 {
  background: url(../img/3photo.jpg) center/cover no-repeat fixed;
}

.fullscreen_bg-4 {
  background: url(../img/4photo.jpg) center/cover no-repeat fixed;
}

.fullscreen_bg-5 {
  background: url(../img/5photo.jpg) center/cover no-repeat fixed;
}

.fullscreen_bg-6 {
  background: url(../img/6photo.jpg) center/cover no-repeat fixed;
}

.fullscreen__title {
  width: 530px;
  height: 240px;
  text-transform: uppercase;
  background: rgba(43, 42, 40, 0.6);
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin-left: 50%;
  margin-top: 15%;
  padding: 10px 10px 10px 10px;
}

.fullscreen__button {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 20px 30px 20px 30px;
  border: 1px solid blanchedalmond;
  border-radius: 5px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 90%;
}

.fullscreen__title-2 {
  width: 630px;
  height: 160px;
  text-transform: uppercase;
  background: rgba(43, 42, 40, 0.6);
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 15%;
  padding: 10px 10px 10px 10px;
}

.fullscreen__button-2 {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 20px 30px 20px 30px;
  border: 1px solid blanchedalmond;
  border-radius: 5px;
  height: 60px;
  position: absolute;
  left: 15%;
  margin-top: 27%;
}

.fullscreen__button-3 {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 20px 30px 20px 30px;
  border: 1px solid blanchedalmond;
  border-radius: 5px;
  height: 60px;
  position: absolute;
  margin-top: 30%;
  margin-left: 50%;
}

.fullscreen__button-4 {
  margin-top: 24%;
}

.fullscreen__button-6 {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 20px 30px 20px 30px;
  border: 1px solid blanchedalmond;
  border-radius: 5px;
  height: 60px;
  margin-top: 30%;
  margin-left: -31%;
}

.fullscreen__title-3 {
  height: 100px;
}

.fullscreen__title-5 {
  width: 600px;
  height: 240px;
}

.fullscreen__decorative {
  width: 630px;
  height: 17px;
  text-transform: uppercase;
  background: rgba(43, 42, 40, 0.6);
  position: absolute;
  left: 15%;
  margin-top: 25%;
}

.adress-salon {
  position: absolute;
  line-height: 1.7;
  width: 500px;
  height: 185px;
  font-size: 24px;
  margin-left: 20%;
  margin-top: 15%;
  color: #b39c1e;
  font-weight: bold;
  border: 1px solid #b39c1e;
  border-radius: 7px;
  padding: 20px 20px 20px 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  border: 1px solid gold;
}

.footer__about-text {
  margin-top: 25px;
  width: 500px;
  font-size: 14px;
}

.fullscreen-4 {
  min-width: 10vh;
}

.webp .site-list__item:first-child { background: url(../img/free-icon-hamburger-5505699.webp) 10px no-repeat; }

.webp .site-list__item:nth-child(2) { background: url(../img/free-icon-phone-call-114333.webp) 5px no-repeat; }

.webp .site-list__item:nth-child(3) { background: url(../img/free-icon-magnifying-glass-search-16492.webp) 25px 15px no-repeat; }

.webp .fullscreen_bg-1 { background: url(../img/1photo.webp) center/cover no-repeat fixed; }

.webp .fullscreen_bg-2 { background: url(../img/2photo.webp) center/cover no-repeat fixed; }

.webp .fullscreen_bg-3 { background: url(../img/3photo.webp) center/cover no-repeat fixed; }

.webp .fullscreen_bg-4 { background: url(../img/4photo.webp) center/cover no-repeat fixed; }

.webp .fullscreen_bg-5 { background: url(../img/5photo.webp) center/cover no-repeat fixed; }

.webp .fullscreen_bg-6 { background: url(../img/6photo.webp) center/cover no-repeat fixed; }